<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="toyKanbanLog" fileName="${sys:catalina.home}/logs/toy_kanban.log" immediateFlush="true" append="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>             
  </appenders>

  <loggers>     
    <root level="debug">
      <appender-ref ref="Console" level="info"/>
      <appender-ref ref="toyKanbanLog" level="info"/>
    </root>    
  </loggers>
</configuration>