<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="toyKanbanLogInfo" fileName="${sys:catalina.home}/logs/toy_kanban.log" immediateFlush="true" append="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>    
    <File name="toyKanbanLogError" fileName="${sys:catalina.home}/logs/toy_kanban_error.log" immediateFlush="true" append="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>            
  </appenders>

  <loggers>     
    <root level="debug">
      <appender-ref ref="Console" level="debug"/>
      <appender-ref ref="toyKanbanLogInfo" level="info"/>
      <appender-ref ref="toyKanbanLogError" level="error"/>
    </root>    
  </loggers>
</configuration>